<article class="np-rule-card np-rule-card--{{ rule.category }}">
	<div class="np-rule-card__header">
		<div class="np-rule-card__icon-wrapper np-rule-card__icon-wrapper--{{ rule.category }}">
			{{ ux_icon(rule.icon|default('lucide:circle'), {class: 'np-rule-card__icon'}) }}
		</div>
		<div class="np-rule-card__main">
			<h4 class="np-rule-card__label">{{ rule.rule_label }}</h4>
			<p class="np-rule-card__reason">{{ rule.reason }}</p>
		</div>
		{% if rule.category != 'satisfied' %}
			<div class="np-rule-card__points np-rule-card__points--{{ rule.category }}">
				{{ rule.points > 0 ? '+' : '' }}{{ rule.points }}
				<span class="np-rule-card__points-unit">pts</span>
			</div>
		{% else %}
			<div class="np-rule-card__check">
				{{ ux_icon('lucide:check', {class: 'np-rule-card__check-icon'}) }}
			</div>
		{% endif %}
	</div>
	{% set _href = rule.source_url|default('')|safe_url %}
	{% if _href %}
		<a href="{{ _href }}" target="_blank" rel="noopener noreferrer" class="np-rule-card__source">
			{{ ux_icon('lucide:external-link', {class: 'np-rule-card__source-icon'}) }}
			<span>Source :
				{{ rule.source_name }}</span>
		</a>
	{% endif %}
</article>
